@{
    ViewData["Title"] = "Hackerrank Bank: Loan Application Success";
}
<div class="card w-50 mx-auto mt-50">
    <h4 align="center" class="text-center pt-20">Loan Success Page</h4>
    <section class="card-text">
        <!--CODE-->
        <div id="hashCodeValue">
            @ViewData["Success"]
        </div> 
        <!--CODE-->
    </section>
</div>
